{%extends 'layoutLogin.html'%}
{%block title%}{{title}}{%endblock%}
{%block box%}
<div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href="/" class="h1"><b>H</b>Share</a>
    </div>
    <div class="card-body">
      <form method="post">
        {%if 'forgot_email' not in session%}
          <p class="login-box-msg">Please enter your email</p>
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email" required name="email">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
        {%else%}
          <p class="login-box-msg">Enter the verification code sent to your email</p>
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email" readonly value="{{session['forgot_email']}}" name="email">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Verification Code" name="verificationCode">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-asterisk"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="New Password" required name="newPass">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
        {%endif%}
        <div class="social-auth-links text-center">
            <button class="btn btn-block btn-primary" type="submit">
              Continue
            </button>
          </div>
      </form>

      <a href="/signup" class="text-center">Register New Account</a>
    </div>
    <!-- /.form-box -->
  </div>
{%endblock%}