{%extends 'base.html'%}
{%block title%}Hshare {{title}}{%endblock%}
{%block content%}
<section class="content">
      <div class="container-fluid">
        <h3 class="mt-4 mb-4">Classes</h3>
            <ol class="list-group">
                <a href="/notes/Grade9"><li class="list-group-item channelList"><strong>Grade 9</strong></li></a>
                <a href="/notes/Grade10"><li class="list-group-item channelList"><strong>Grade 10</strong></li></a>
            </ol>
      </div>
    </section>
{%endblock%}